<h2>Add Expense</h2>

<form class="form add-form">
  <div class="form-group">
    <label>Category:</label>
    <input class="form-input" type="text" id="category" />
  </div>
  <div class="form-group">
    <label>Amount:</label>
    <input class="form-input" type="text" id="amount" />
  </div>
  <div class="form-group">
    <label>Date:</label>
    <input class="form-input" type="text" id="date" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Add to List</button>
  </div>
</form>

<script src="/js/add.js"></script>