 <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Expense Insight Tracker</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../../public/css/style.css"/>
</head>


 <nav>
    <a href="/">Home</a>
    {{!-- if user is not logged in, there will be a login link --}}
    {{#if loggedOut}}
    <a href="/login">Login</a>
    {{/if}}
    {{!-- dropdown button for expenses --}}
    <div class="dropdown">
     <button class="dropbtn">Expenses
      <i class="fa fa-caret-down"></i>
     </button>
        <div class="dropdown-content">
            <a href="" class="hidden">Add Daily Expenses</a>
            <a href="" class="hidden">Monthly</a>
        </div>
    </div>
    {{!-- if user is logged in, there will be a logout button --}}
    {{#if loggedIn}}
    <a href="/logout">
        <button class="btn" type="submit" id="logout">Logout</button>
    </a>
    {{/if}}
 </nav>
  
  