</div>
  {{#each spendings as |spending|}}
    <div class='dish col-md-5'>
      <p>
        {{format_date spending.date}}: 
        {{spending.category}}, 
        <strong>$ {{spending.amount}}</strong>
        {{spending.user_id}}
      </p>
    </div>
  {{/each}}