</div>
  {{#each expenses as |expense|}}
    <div class='expense col-md-5'>
      <p>
        {{format_date expense.date}}: 
        {{expense.category}}, 
        <strong>$ {{expense.amount}}</strong>
        {{expense.user_id}}
      </p>
    </div>
  {{/each}}