<div>
  <canvas id="myChart" width="400" height="300"></canvas>
  <p> <a href="/add-expense">Add Another Expense</a></p>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/chartHandler.js" type="application/javascript"></script>