<div class="out-card">

  {{!-- logout card --}}
  <div class="logout-card">
    <div>
      <h2 class="logout-title">You have now successfully logged out! Until next blog ⌨
      </h2>
    </div>
  </div>

</div>

<script src="/js/logout.js"></script>