<div class="out-card">

  {{!-- logout card --}}
  <div class="logout-card">
    <div>
      <button id="logout" class="hidden">Logout</button>
    </div>
  </div>

</div>

<script src="/js/logout.js"></script>