<div class="container">
  <h3>Total Amount for the Month:</h3>
  <div id="total-amount-container"></div>
</div>
<div class="container" id="middle">
  <div class="form-group">
    <button class="btn" type="button" id="addmore-btn">Add Another Expense</button>
  </div>
</div>

<script src="/js/addmore.js"></script>