<div class="container">
  <h3>Total Amount for the Month:</h3>
  <!--div for total expenses per month to append to-->
  <div id="total-amount-container"></div>
</div>
<div class="container" id="middle">
  <div class="form-group">
    <!--btn to see /add-expense-->
    <button class="btn" type="button" id="addmore-btn">Add Another Expense</button>
  </div>
</div>

<script src="/js/addMore.js"></script>