<div class="container" id="back">
  <div class="container" id="middle">
    <h3>Total Amount for the Month:</h3>
  </div>
  <div id="total-amount-container">

    <div class="container" id="middle">
      <div class="form-group">
        <!--ul for total expenses per month to append to-->
        <ul class="total-amount"></ul>
        <!--btn to see /add-expense-->
        <button class="btn" type="button" id="addmore-btn">Add Another Expense</button>
      </div>
    </div>
  </div>
</div>
<script src="/js/addMore.js"></script>
<script src="/js/monthlyExpenses.js"></script>