body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

nav .navbar-nav li a {
  color: rgb(3, 3, 90) !important;
  font-weight: 300;
  font-size: 1.1rem;
}

nav .container {
  color: #ac1e1e;
  font-weight: bold;
  font-size: 1.6rem;
}

section.in-card {
  flex-wrap: wrap;
  display: inline-flex;
  justify-content: center;
}

button {
  margin-left: 3%;
}

.login-card {
  flex-wrap: wrap;
  display: inline-flex;
  text-align: left;
  background-color: #ddd !important;
}

/* David's CSS */

/* Body styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa; /* Light grey background */
  color: #333; /* Text color */
}

/* Heading styles */
h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 20px;
  color: #007bff; /* Blue heading */
}

p {
  font-size: 1.1rem;
  text-align: center;
}

/* Navbar styles */
.navbar {
  background-color: #fff; /* White navbar background */
  box-shadow: 0 4px 6px -6px #222; /* Navbar shadow */
}

.list-details {
  flex-wrap: wrap;
  display: inline-flex;
}

.navbar a {
  color: #333; /* Navbar link color */
}

.navbar a:hover {
  color: #007bff; /* Hover color */
}

/* Main content styles */
.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
}

div.container {
  display: inline-block;
  text-align: center;
}

label {
  padding-left: 1%;
  flex-wrap: wrap;
  display: inline-flex;
}

/* Chart canvas styles */
canvas {
  display: block;
  margin: auto;
  max-width: 100%;
  height: 400px; /* Set a specific height for the chart */
  width: 600px; /* Set a specific width for the chart */
}

h2 {
  text-align: center;
}

div.card {
  background-color: #054fb7;
  color: #fff;
  display: flex;
  margin: 1rem;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.btn {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid #101dd3;
  border-radius: 0.6em;
  color: #101dd3;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.btn:hover {
  background-color: #101dd3;
  color: #fff;
}

.hidden {
  display: none;
}

.in-card {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-details {
  flex-wrap: wrap;
  display: inline-flex;
}

.daily-expenses {
  font-size: 1rem;
}

div.container,
div#middle.container {
  display: block;
}

button.delete-btn {
  font-size: x-small;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid #101dd3;
  border-radius: 0.6em;
  color: #101dd3;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

button.delete-btn:hover {
  background-color: #101dd3;
  color: white;
}

a#logout.nav-link {
  cursor: pointer;
}

div.expense-container {
  flex-wrap: wrap;
  display: flex;
  justify-content: left;
  padding: 0.5rem;
}

.expense-container {
  width: 85%;
}

.all-container {
  text-align: -webkit-right;
}

div#in.container {
  width: 25%;
  margin-top: 3%;
}

div#up.container {
  width: 25%;
  margin-top: 0.5%;
}

div#input-container.form-group {
  display: inline-block;
}
