body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

nav .navbar-nav li a {
  color: rgb(3, 3, 90) !important;
  font-weight: 300;
  font-size: 1.1rem;
}

nav .container {
  color: #ac1e1e;
  font-weight: bold;
  font-size: 1.6rem;
}



div.card {
  display: flex;
  margin: 1rem;
}

section.in-card {
  flex-wrap: wrap;
  display: inline-flex;
  justify-content: center;
}

main {
  flex-wrap: wrap;
  display: inline-flex;
}

.login-card {
  flex-wrap: wrap;
  display: inline-flex;
  text-align: left;
  background-color: #ddd !important;
}

/* David's CSS */

/* Body styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa; /* Light grey background */
  color: #333; /* Text color */
}

/* Heading styles */
h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 20px;
  color: #007bff; /* Blue heading */
}

p {
  font-size: 1.1rem;
  text-align: center;
  margin-top: 10%;
}

label {
  text-align: left;
}

/* Navbar styles */
.navbar {
  background-color: #fff; /* White navbar background */
  box-shadow: 0 4px 6px -6px #222; /* Navbar shadow */
}

.list-details {
  flex-wrap: wrap;
  display: inline-flex;
}

.navbar a {
  color: #333; /* Navbar link color */
}

.navbar a:hover {
  color: #007bff; /* Hover color */
}

/* Main content styles */
.container {
  margin-top: 20px;
  background-color: #fff; /* White container background */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Container shadow */
}

/* Chart canvas styles */
canvas {
  display: block;
  margin: auto;
  max-width: 100%;
  height: 400px; /* Set a specific height for the chart */
  width: 600px; /* Set a specific width for the chart */
}

h2 {
  text-align: center;
}

div.card {
  background-color: #054FB7;
  color: #fff;
}

.main-body {
  position: fixed;
  left: 50%;
  top: 58%;
  transform: translate(-50%, -50%);
}

.btn {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid #101dd3;
  border-radius: 0.6em;
  color: #101dd3;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.btn:hover {
  background-color: #101dd3;
  color: #fff;
}

.hidden {
  display: none;
}

.in-card {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  box-shadow: 3px 3px 3px black;
  background-color: white;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}